<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="index()">
        <ion-icon name="book-outline"></ion-icon>
      </ion-button> -->
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>E-book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Título: De Recife? Do Mundo!!</h1>
  <h2>Autor: Robertinho de Recife</h2>
  <p>
    Depoimentos de vários artistas e pessoas que participaram do documentário
    "Robertinho de Recife? Robertinho do Mundo!!!".
  </p>
  <p>
    Sobre a trajetória do guitarrista, produtor e compositor, a sua importância
    na música brasileira e as experiências que tiveram juntos.
  </p>
  <p>Lingua: Português brasileiro</p>
  <p>Publicado: 12 agosto de 2020</p>
  <hr />
  <h3 class="ion-text-center">Aplicativo desenvolvidor por</h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a
            href="http://www.applybrasil.com/"
            target="_blank"
            rel="noopener noreferrer"
            ><ion-img src="assets/ApplyBrasil.jpeg"></ion-img
          ></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a
            href="https://cafeinadesign.github.io/"
            target="_blank"
            rel="noopener noreferrer"
            ><ion-img src="assets/cafeína-design.png"></ion-img
          ></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class="ion-text-center">
    <small>© 2020 Todos os direitos reservados</small>
  </p>
</ion-content>
