<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        <ion-icon name="book-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentModal()">
        <ion-icon name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>De Recife? Do mundo!!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="area" [fullscreen]="true"></ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="prev()" [disabled]="pagina === 0">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{paginacao}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="next()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
